name: 'Release'

on:
  push:
    branches:
      - 'master'

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Build binaries
        run: |
          cmake . -DPATCH_VERSION=${{ github.run_number }}
          cmake --build . --target all
      - name: Create debian package
        run: |
          cmake --build . --target package
          echo "PACKAGE_FILENAME=$(find . -type f -iname "*.deb" | head -1 | xargs basename)" >> $GITHUB_ENV
          echo "PACKAGE FILENAME"
          echo ${{ env.PACKAGE_FILENAME }}
      - name: Read version from header
        run: |
          echo "VERSION_MAJOR=$(cat version.h.in | grep MAJOR | tr -dc '0-9')" >> $GITHUB_ENV
          echo "VERSION_MINOR=$(cat version.h.in | grep MINOR | tr -dc '0-9')" >> $GITHUB_ENV
      - name: Run tests
        run: ctest
      - name: Integration test
        run: ./tests/integration_test.bash
      - name: Create Release
        if: success()
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.VERSION_MAJOR }}.${{ env.VERSION_MINOR }}.${{ github.run_number }}
          release_name: Release ${{ env.VERSION_MAJOR }}.${{ env.VERSION_MINOR }}.${{ github.run_number }}
          draft: false
          prerelease: false
      - name: Upload Release Asset
        if: success()
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./${{ env.PACKAGE_FILENAME }}
          asset_name: ${{ env.PACKAGE_FILENAME }}
          asset_content_type: application/vnd.debian.binary-package